Flask
Flask-SQLAlchemy
SQLAlchemy
Werkzeug
Flask-Cors
python-dateutil
pandas
xlsxwriter
Flask-Session
mysqlclient
gunicorn
python-dotenv
dash==2.14.2
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
plotly==5.18.0